---
import { resources } from "../data/resources.json";
import Layout from "../layouts/Layout.astro";
import Card from "../layouts/Card.astro";
---

<Layout>
  <h1 class="text-cyan-600 text-5xl font-bold mb-8">Start with some basics:</h1>
  <div
    class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
  >
    {
      resources.map((r) => {
        return <Card card={r} />;
        // For each resource object (r), you create a Card and pass r to it as the card prop. It pulles data from "resources", creates a prop called "card". The prop "card" is then linked to the file "Card.astro". The whole index.astro file loops through data, passes each item to the Card component.
      })
    }
  </div>
</Layout>
