---
import { resources } from "../data/resources.json";
import Layout from "../layouts/Layout.astro";
import Card from "../layouts/Card.astro";
---

<Layout>
  <h1 class="text-cyan-600 text-5xl font-bold mb-8">The Basics</h1>
  <div
    class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
  >
    {
      resources.map((r) => {
        return <Card card={r} />;
      })
    }
  </div>
</Layout>
