---
const { card } = Astro.props;
---

<a
  href={card.url}
  class="block p-4 border-2 border-pink-600 rounded-2xl bg-cyan-50 transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
>
  <h2 class="text-pink-600 font-bold text-lg mb-2">{card.title}</h2><p>{card.description}</p>
</a>
